*swp
*.o
*.so
*.dll
*.mod
*.html
*.cbp
*.png
.Rproj.user
models/basfor/*
models/BASFORMOD/*
models/BASFERROR/BASFERROR.Rproj
models/BASFERROR/src/bin/
models/BASFERROR/src/obj/
Code/Code.Rproj
Code/.Rhistory
models/BASFERROR.Rcheck 
models/BASFERROR_0.0.0.9000.tar.gz
Code/Outdated_stuff/*
Code/Results/*
Code/data/*
!Code/data/climate_complete.rds 
!Code/data/Ndep_complete.rds
Code/datapreparation.R
Explanations.txt

